* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-de-fundo: #D3B094;
    --cor-da-fonte: #000000;
    --fonte-principal: "Belleza";
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    color: var(--cor-da-fonte);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.cabecalho {
    display: flex;
    padding: 2.5% 0 1% 5.5%;
}

.cabecalho__links {
    padding: 9% 0 0 9.5%;
}

.cabecalho__links-item {
    font-size: 16px;
    color: var(--cor-da-fonte);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
}

.conteudo {
    display: flex;
    padding: 0 7.5% 1% 5.5%;
}

.conteudo__abas-fundo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.conteudo__abas-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-texto {
    display: flex;
    position: absolute;
    text-transform: uppercase;
    font-size: 1.2em;
    background-color: var(--cor-de-fundo);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--cor-da-fonte);
    z-index: 1;
    transition: ease .5s;
}

.aba-img {
    height: 100%;
    transition: ease .5s;
}

.conteudo__abas-img:hover a {
    transform: scale(1.1);
}

.conteudo__abas-img:hover img {
    filter: brightness(0.8);
}

hr {
    margin-top: 60px;
    border: 0.5px solid #c29673;
}

.rodape {
    margin: 20px;
    display: flex;
    width: 100%;
    flex-direction: row;
}

.logo {
    width: 20%;
    padding: 20px 30px;
}

.informacoes {
    margin-top: 55px;
    margin-left: 40px;
}

.rodape__item {
    flex-wrap: wrap;
    font-size: 14px;
    padding: 1em;
    color: var(--cor-da-fonte);
    text-transform: uppercase;
    text-decoration: none;
}